@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

/* General Styling */

body {
    font-family: 'Preahvihear', sans-serif;
    color: #000;
}

.fa-house-chimney {
    font-size: 35px;
    margin: 24px;
    position: absolute;
    text-decoration: none;
    color: #000;
}

.logo {
    margin: auto;
    display: flex;
    justify-content: center;
}

.logo a {
    text-decoration: none;
    color: #000;
}

.logo-text {
    font-size: 60px;
    margin: 0;
}

/* Home page */

.background {
    background: url("../images/cinema.jpg") no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 2% 10%;
    overflow-y: scroll;
}

.home-box {
    background-color: #fafafa;
    width: 100%;
    border-radius: 20px;
    padding-bottom: 30px;
    min-height: 85vh;
}

.home-text {
    text-align: center;
    margin: 0;
    font-size: 24px;
}

#button-div {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.buttons-wrapper {
    border-radius: 15px;
    font-size: 40px;
    text-decoration: none;
    color: #000;
}

.home-wrapper {
    height: 250px;
    width: 35%;
}

.button-text {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opacity {
    background-color: rgb(255, 255, 255, 0.3);
}

.play {
    background-color: #ffd42a;
}

.play:hover {
    background: url(../images/question-marks.png) no-repeat center center;
}

.rules {
    background-color: #7dcbb5;
}

.rules:hover {
    background: url(../images/pencils.jpg) no-repeat center center;
}

/* Setup page */

#setup-background {
    padding: 2% 10%;
}

.setup-div {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    margin-top: 40px;
}

.ten {
    background-color: #92C1F1;
}

.ten:hover {
    background-color: #6687a8;
    color: #fff;
}

.twenty-five {
    background-color: #C5B4E9;
}

.twenty-five:hover {
    background-color: #8a7ea3;
    color: #fff;
}

.fifty {
    background-color: #FFD87B;
}

.fifty:hover {
    background-color: #b29756;
    color: #fff;
}

.rules-setup {
    background-color: #a3d9ca;
}

.rules-setup:hover {
    background-color: #72978d;
    color: #fff;
}

.setup-wrapper {
    height: 150px;
    width: 60%;
}

/* Game page */

.submit {
    font-size: 24px;
}

.submit:hover {
    cursor: pointer;
}

#question {
    margin-left: 5%;
    margin-right: 5%;
}

#score {
    font-size: 20px;
}

#answers-title {
    font-size: 24px;
    text-align: center;
    display: none;
}

.answer-list {
    font-size: 20px;
    margin: auto auto;
    text-align: center;
    height: 80px;
}

#game-answers {
    row-gap: 10px;
    margin-top: 20px;
    border: 8px solid #7dcbb5;
    border-radius: 4px;
    background-color: #E6F4EF;
    margin-left: 40px;
    margin-right: 40px;
    padding: 40px;
}

#answer-one,
#answer-two,
#answer-three,
#answer-four {
    margin: auto;
    text-align: center;
}