@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

/* General Styling */

body {
    font-family: 'Preahvihear', sans-serif;
    color: #000;
}

.logo {
    margin: auto;
    display: flex;
    justify-content: center;
}

.logo-text {
    font-size: 60px;
    margin: 0;
}

/* Home page */

#home-background {
    background: url("../images/cinema.jpg") no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 5% 10%;
}

#home-box {
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

#home-text {
    text-align: center;
    margin: 0;
}

#button-div {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.home-buttons {
    height: 250px;
    width: 35%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-decoration: none;
    color: #000;
}

.play {
    background-color: #ffd42a;
}

.play:hover {
    background: url(../images/question-marks-g607ef1ea9_1280.png) no-repeat center center;
}

.rules {
    background-color: #7dcbb5;
}

.rules:hover {
    background: url(../images/pencils-g2d01c7346_1280_1_40.jpg) no-repeat center center;
}